# Dotfiles
/.*

# Build
rollup.config.js
babel.config.js

# Jest
__snapshots__/
**/*.test.js
**/*.test.jsx
coverage/
jest/

# Npm pack output
*.tgz

# Typescript
tsconfig.json
types/

# Source
src/

# Temp
temp/

# Docs
*.md
